<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Products</title>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>

    <!-- WebAwesome UI -->
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/styles/webawesome.css"/>
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/webawesome.loader.js"></script>
</head>
<body class="wa-body">

<header class="wa-mb--lg">
    <h1>Products</h1>
</header>

<!-- Load Products Button -->
<button class="wa-btn wa-btn--primary wa-mb--md"
        hx-get="/products"
        hx-target="#products-table"
        hx-swap="outerHTML">
    Load Products
</button>

<!-- Table container -->
<div id="products-table" class="wa-table-container">
    <table class="wa-table wa-table--bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Variants</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="2">No products loaded yet.</td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Add Product Form -->
<section class="wa-stack">
    <h3>Add Product</h3>
    <form hx-post="/products" hx-target="#products-table" hx-swap="outerHTML" class="wa-form wa-mt--md ">
        <div class="wa-grid" style="--min-column-size: 6rem;">
            <div class="wa-form-group wa-gap-s">
                <label>
                    Title
                    <input type="text" name="title" class="wa-input" placeholder="Title" required>
                </label>

            </div>
            <div class="wa-form-group ">
                <label>
                    Price
                    <input type="number" step="0.11" name="price" class="wa-input" placeholder="Price" required>
                </label>
            </div>
            <div class="wa-form-group">
                <label>
                    Submit
                    <button  type="submit" class="wa-button wa-mb--md wa-btn--success">Add</button>
                </label>
            </div>
        </div>


    </form>
</section>

</body>
</html>
